body {
    font-family: 'Open Sans', sans-serif;
}
/* Resize image */
/* Common */
img {
    width: 100%;
    height: 500px;
}
.container-fluid {
    padding-top: 1rem;
}
.row {
    padding-left: 1rem;
}
/* Review */
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 2px #00aa6c solid;
    vertical-align: sub;
}

.green {
    background-color: #00aa6c;
}

.review:last-child {
    vertical-align: top;
}

.lightgreytext {
    color: #4a4a4a;
}

.dotted {
    text-decoration: underline dotted;
    padding-top: 0.1rem;
}
/* payment The Fork */
h5, h1, h2 {
    font-weight: bold;
}
h5 {
    color: red;
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
}
.goldenrod {
    color: black;
    background-color: #f2b203;
    font-weight: bold;
    border-radius: 0.5rem;
}

p {
    font-size: 1.2rem;
    text-align: center;
}
.cancel {
    padding-left: 1rem;
    padding-top: 0.3rem;
}

.bold {
    font-weight: bold;
}

@media screen and (min-width:960px) {
    .image-section {
        display: flex;
    }


}